.glimpses{
    padding: 10px;
    columns: 2;
    column-gap: 7px;
}
.glimp {
    margin-bottom: 10px;
    list-style: none;
}

.videoGlimp {
    max-width: 100%;
    border-radius: 10px;
}

.imageGlimp {
    max-width: 100%;
    border-radius: 10px;
}
@media (670px <= width <= 1000px) {
    .glimpses{
        columns: 3;
    column-gap: 7px;
    }
}
@media (1001px <= width) {
    .glimpses{
        columns: 4;
    column-gap: 7px;
    }
}