.glimpses{
    padding: 20px;
    columns: 4;
    column-gap: 20px;
}
.glimp {
    margin-bottom: 20px;
    list-style: none;
}

.videoGlimp {
    max-width: 100%;
    border-radius: 10px;
}

.imageGlimp {
    max-width: 100%;
    border-radius: 10px;
}